<button type="button" class="btn btn-small btn-default"
        ng-click="grid.appScope.editUser(row.entity)">
    <span class="glyphicon glyphicon-edit color-blue"></span>
</button>
<!--<button type="button" class="btn btn-small btn-default"-->
<!--        ng-click="grid.appScope.editUserPrivileges(row.entity)"-->
<!--        title="{{'users-privileges.list.TITLE' | translate}}">-->
<!--    <span class="fas fa-user-lock color-blue"></span>-->
<!--</button>-->
<button type="button" class="btn btn-small btn-default"
        ng-click="grid.appScope.deleteUser(row.entity)">
    <span class="glyphicon glyphicon-remove color-red"></span>
</button>