<article class=col-xs-12">
    <div class="panel-heading-new col-xs-12 margin-bottom-20">
        <div ng-if="employeeReduction.id" class="col-xs-offset-2">
            <h4>
                <span class="strong">{{'users.view.TITLE_EDIT' | translate}} </span>
                <span ng-if="employeeReduction.fileName">: </span>
                {{employeeReduction.fileName}}
            </h4>

        </div>

        <div ng-if="!employeeReduction.id" class="col-xs-offset-2">
            <h4 class="">
                <span>{{'users.view.TITLE_NEW' | translate}} </span>
                <span ng-if="employeeReduction.fileName">: </span>
                {{employeeReduction.fileName}}
            </h4>
        </div>
    </div>

    <button type="button" class="btn btn-general col-xs-offset-1 margin-bottom-20" ng-click="back()">
        <span class="button-text" data-translate="general.buttons.BACK"></span>
    </button>

    <section class="panel-body col-xs-12">
        <div ui-grid="employeeReductionItemsGrid"
             ui-grid-resize-columns
             ui-grid-selection
             ui-grid-move-columns
             ui-grid-exporter
             ui-grid-pagination
             style="height:70%">
        </div>
        <article class="pagination-container">
            <ul uib-pagination
                total-items="totalEmployeeReductionItems"
                items-per-page="pageSize"
                ng-model="employeeReductionItemCurrentPage"
                max-size="5"
                class="pagination-sm"
                boundary-link-numbers="true"
                boundary-links="true"
                ng-change="filterEmployeeReductionGrid(employeeReductionItemCurrentPage)"
                previous-text="{{'general.buttons.PREVIOUS' | translate}}"
                next-text="{{'general.buttons.NEXT' | translate}}"
                first-text="&laquo;"
                last-text="&raquo;">
            </ul>
        </article>
    </section>

    <section class="col-xs-offset-9 margin-top-20">
        <button ng-click="saveUser()" class="btn btn-general">
            <span data-translate="general.buttons.SAVE"></span>
        </button>
    </section>
</article>